{% extends "layout.html" %}

{% block title %}
    Entry Detail
{% endblock %}

{% block header %}
    Detail
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="entry-list single">
                <article>
                    <h1>{{ entry.title }}</h1>
                    <time datetime="{{ entry.learning_date }}">
                        {{ entry.learning_date.strftime('%A %B %d, %Y') }}
                    </time>
                    <div class="entry">
                        <h3>Time Spent: </h3>
                        <p>{{ entry.time_spent }} minutes</p>
                    </div>
                    <div class="entry">
                        <h3>What I Learned:</h3>
                        <p>{{ entry.what_learned }}</p>
                    </div>
                    <div class="entry">
                        <h3>Resources to Remember:</h3>
                        <p>{{ entry.resources }}</p>
                    </div>
                    <div class="entry">
                            <h3>Tagged with:</h3>
                            {% if entry.journal_entry_subject_tags.count() == 0 %}
                                <p><em>No tags</em></p>
                            {% else %}
                                <ul>
                                    {% for jest in entry.journal_entry_subject_tags %}
                                        <li><a href="{{ url_for('tags') }}">{{ jest.subject_tag.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                    </div>
                </article>
            </div>
        </div>
        <div class="edit">
            <p><a href="{{ url_for('add_edit', slug=entry.url_slug) }}">Edit Entry</a>
                <a href="{{ url_for('delete_entry', slug=entry.url_slug) }}">Delete Entry</a>
            </p>
        </div>
    </section>
{% endblock %}
