{% extends "layout.html" %}

{% block title %}
    Entries
{% endblock %}

{% block header %}
    Entries
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="entry-list">
                {% if journal_entries.count() == 0 %}
                    <article>
                        <h2>No entries yet!</h2>
                        <p>It's a great time to start!</p>
                    </article>
                {% else %}
                    {% for journal_entry in journal_entries %}
                        <article>
                            <h2><a href="#">{{ journal_entry.title }}</a></h2>
                            <time datetime="{{ journal_entry.created_date }}">{{ journal_entry.created_date }}</time>
                        </article>
                    {% endfor %}
                {% endif %}    
            </div>
        </div>
    </section>
{% endblock %}
