{% extends "layout.html" %}

{% block title %}
    Entries
{% endblock %}

{% block header %}
    Entries
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="entry-list">
                {% if journal_entries.count() == 0 %}
                    <article>
                        <h2>No entries yet!</h2>
                        <p>It's a great time to start!</p>
                    </article>
                {% else %}
                    {% for journal_entry in journal_entries %}
                        <article>
                            <h2><a href="{{ url_for('details', slug=journal_entry.url_slug) }}">{{ journal_entry.title }}</a></h2>
                            <h3><time datetime="{{ journal_entry.created_date }}">{{ journal_entry.learning_date.strftime('%A %B %d, %Y') }}</time></h3>
                            <h4>Tagged with:</h4>
                            {% if journal_entry.journal_entry_subject_tags.count() == 0 %}
                                <p><em>No tags</em></p>
                            {% else %}
                                <ul class="simple-list">
                                    {% for jest in journal_entry.journal_entry_subject_tags %}
                                        <li><a href="{{ url_for('tags') }}">{{ jest.subject_tag.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </article>
                    {% endfor %}
                {% endif %}    
            </div>
        </div>
    </section>
{% endblock %}
